/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
  Primary Color: #B03931
  Primary Shade: #98312A

  Gray: ##F5F5F5
  Gray border: #CCC
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', sans-serif;
  color: #333;
  /* width: 800px; */
  /* margin: 0 auto; */
  /* padding: 0 24px; */
}

header {
  background-color: #b03931;
  color: #fff;
  display: flex;
  gap: 128px;
  padding-left: 96px;
}

main {
  /* margin: 0 auto; */
  /* background-color: bisque; */
  position: relative;
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-column-gap: 100px;
  /* align-items: center;
   */
  justify-items: center;
}

canvas {
  margin-left: 48px;
  padding: 24px;
  width: 800px !important;
  height: 400px !important;
  max-width: 100%;
}

.filters {
  background-color: #eee;
  width: 300px;
  grid-column: 2;
  grid-row: 1/3;
  padding: 24px;
  justify-self: self-end;

  border-left: #b03931 5px solid;
}

.filters label {
  display: block;
  margin: 8px 0;
}

.data-filter {
  border-bottom: #ccc 1px solid;
  padding-bottom: 8px;
  margin-bottom: 8px;
  color: #b03931;
  font-weight: bold;
}

.test-filter p {
  padding-bottom: 8px;
  margin-bottom: 8px;
  color: #b03931;
  font-weight: bold;
}

.submit-btn {
  background-color: #b03931;
  color: #fff;
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.test {
  /* margin-top: 48px; */
  padding: 24px;
  margin-left: 48px;
  /* background-color:bisque; */
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  /* gap: 24px; */
}

.test-heading {
  grid-column: 1/-1;
  color: #b03931;
}

.test-heading a:link,
.test-heading a:visited {
  color: #b03931;
  text-decoration: none;
}

.test-heading a:hover {
  text-decoration: underline;
}

.pr-branch,
.master-branch {
  /* border: 1px solid #CCC; */
  /* padding: 8px; */
  border-radius: 8px;
}

table th {
  font-size: 18px;
  font-weight: 700;
  color: #b03931;
  /* border-bottom: #ccc 1px solid; */
}

table {
  width: 750px;
  border-collapse: collapse;
}

table td,
table th {
  text-align: left;
  padding: 8px;
  border: 1px solid #ccc;
}

.neg-val {
  color: red;
}

.pos-val {
  color: rgb(4, 179, 4);
}
